<br><br>
<h1>BOOKS!</h1><br><br>

<%= @books.each do |book| %>

<p>
  <%= image_tag book.image_url, size:"200x300" %>
</p>

<p>
  <strong>Title:</strong>
  <%= book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= book.auth_full_name %>
</p>

<p>
  <strong>Price:</strong>
  $<%= book.price %>
</p>

<p>
  <strong>ISBN:</strong>
  <%= book.isbn %>
</p>

<p>
  <strong>Number of Pages:</strong>
  <%= book.number_of_pages %>
</p>
<br>
<hr>
<br>
<% end %>
